<p id="notice"><%= notice %></p>

<h1>My User</h1>

<div class="centrar-user">
<table>

  <tbody>
    <% @users.each do |user| %>
      <tr class="tarea-dia">
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

