<script>
  $(".form_doit").submit(function(event) {
    $(this).hide();
    $(".state").text("DONE");
  });

  var cronos = [];

  function crono(element) {
     if(element.parent().prev().text() == "0") {
       var start = new Date;
       
      //alert("hola");
      var my_crono = setInterval(function() {
        element.parent().prev().text(parseInt((new Date - start) / 1000));
      }, 1000);
      cronos.push([element, my_crono]);
      
     }else {
       for(c in cronos) {
         if(c[0] == element) {
           clearInterval(c[1]);
         }
       }
       
     }
  }

  $(".play").click(function(event) {
    //alert($('input[value=PLAY]').val());
    if($(this).attr("value") == "PLAY") {
        crono($(this))
      $(this).attr("value", "STOP")
    }else {
      crono($(this))
      $(this).attr("value", "PLAY")
    }
  });

  

</script>

<p id="notice"><%= notice %></p>

<h1>Today Tasks</h1>
<div class="centrar">
<table>
  <tbody>
    
      <% @tasks.each do |task| %>
        <tr class="tarea-dia">
          <td><%= task.title %></td>
          <td><%= task.description %></td>
          <td><%= task.day %></td>
          <td class="state"><%= task.state %></td>
          <td class="clock">0</td>
          <td class=""><input class="btn btn-primary doit play" type="button" value="PLAY"></td>
          <td><%= link_to 'Show', task %></td>
          <td><%= link_to 'Edit', edit_task_path(task) %></td>
          <%if task.state != "DONE"%>
          <td class="doit">        
            <%= form_with(url: done_path, class: "form_doit") do |form| %>
              <div class="field">
                <%= form.hidden_field :send_task %>
                <%= hidden_field_tag 'selected', task.id  %>
              </div>
              <div class="actions">
                <%= form.submit "Do it!", class: "btn btn-primary doit" %>
              </div>
            <% end %>     
          </td>
          <%end%>      
        </tr>
      <% end %>
    
  </tbody>
</table>
</div>

<br>





